

h2{
  margin-top: 2px;
}

 .App {
  text-align: center;
  background-color: #282c34;
} 

/*.App-logo {
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} 

/* .App-link {
  color: #61dafb;
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  */
/* } 

.window-h {
  height: 100vh; /*給 Safari 以外的瀏覽器讀取*/
  /* height: calc(var(--vh, 1vh) * 100);
}  */


@media screen and (max-width:768px) { 
    .center{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
  }
  body{
    height: 129vh;
  }
}

body {
    font-family: Comic Sans MS;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    
}

.TEMP{
    background-color: #ffffff;
    color: #091b2b;
    padding: 25px;
    box-shadow: 10px 10px 25px #00000090;
    text-align: center;
    border-radius: 30px;
    margin: 20px;
    box-sizing: border-box;
}
.TEMP_1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.col{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.drawline{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.send_check{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
